@media (max-width: 768px) {
  .home h1 {
    font-size: 40px;
  }

  .home h2 {
    font-size: 30px;
  }

  .spidermask {
    margin-top: 4px;
    margin-right: -14px;
  }
}

.particles-home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
